Cliente/PuntoDeVenta/Service References/ServiceReference1/ServidorWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS/" targetNamespace="http://WS/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarUsuario" type="tns:actualizarUsuario" />
  <xs:element name="actualizarUsuarioResponse" type="tns:actualizarUsuarioResponse" />
  <xs:element name="altaUsuario" type="tns:altaUsuario" />
  <xs:element name="altaUsuarioResponse" type="tns:altaUsuarioResponse" />
  <xs:element name="bajaUsuario" type="tns:bajaUsuario" />
  <xs:element name="bajaUsuarioResponse" type="tns:bajaUsuarioResponse" />
  <xs:element name="buscarLogin" type="tns:buscarLogin" />
  <xs:element name="buscarLoginResponse" type="tns:buscarLoginResponse" />
  <xs:element name="buscarUsuario" type="tns:buscarUsuario" />
  <xs:element name="buscarUsuarioResponse" type="tns:buscarUsuarioResponse" />
  <xs:element name="cargarUsuario" type="tns:cargarUsuario" />
  <xs:element name="cargarUsuarioResponse" type="tns:cargarUsuarioResponse" />
  <xs:element name="getBuscarUsuarios" type="tns:getBuscarUsuarios" />
  <xs:element name="getBuscarUsuariosResponse" type="tns:getBuscarUsuariosResponse" />
  <xs:element name="getDataProductos" type="tns:getDataProductos" />
  <xs:element name="getDataProductosResponse" type="tns:getDataProductosResponse" />
  <xs:element name="getDataUsuarios" type="tns:getDataUsuarios" />
  <xs:element name="getDataUsuariosResponse" type="tns:getDataUsuariosResponse" />
  <xs:element name="getDatarLogin" type="tns:getDatarLogin" />
  <xs:element name="getDatarLoginResponse" type="tns:getDatarLoginResponse" />
  <xs:element name="getDatarUsuarios" type="tns:getDatarUsuarios" />
  <xs:element name="getDatarUsuariosResponse" type="tns:getDatarUsuariosResponse" />
  <xs:complexType name="getDataProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="altaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="json" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="altaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarLogin">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bajaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="json" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bajaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="json" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatarUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatarLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatarLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cargarUsuario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="cargarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBuscarUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBuscarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>